langchain 
pandas 
langchain_groq
pyowm
numexpr
duckduckgo-search
spotipy
pywhatkit
gTTS
pydub
SpeechRecognition
pvporcupine
python-dotenv
pyaudio
bluedo
langchain_google_genai
pyaudio 
psutil
geopy 
langchain_experimental 
