pyaudio
langchain 
pandas 
langchain_groq
pyowm
numexpr
duckduckgo-search
spotipy
pywhatkit
gTTS
pydub
SpeechRecognition
pvporcupine==2.2.0
python-dotenv
bluedo
langchain_google_genai
psutil
geopy 
langchain_experimental 
google-auth-oauthlib
selenium
webdriver_manager
google-search-results
google-api-python-client
langchain-anthropic
langchain_openai
playwright 
lxml
yfinance
streamlit
fpdf

